body {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}
.container {
    background: rgba(76, 175, 80, 0.1);
    padding: 20px;
    box-shadow: 10px;
    font-family: sans serif;
}
.container h2 {
    text-align: center;
}
.btn {
    color: white;
}
